* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #131517;
    height: 140vh;
}

.bashisse {
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    font-size: 3em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.text1 {
    font-size: 1em;
    color: slategrey;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    justify-content: space-evenly;
    width: 25%;
    list-style: none;
    display: flex;
    margin: 7vh auto;
}

a {
    font-size: medium;
    color: white;
    transition: 0.6s all;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid green;
    color: green;
}

.orta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}

.box1 {
    justify-content: space-evenly;
    display: flex;
    height: 70vh;
}

.qutu4,.qutu5 {
    cursor: pointer;
    border: 1px solid white;
    height: 70vh;
    width: 65vh;
    transition: 1s all;
}

img {
    transition: 0.3s all;
}

img:hover {
    opacity: 0.1;
}


/* Çubuğun stilini belirleyin */
.bar {
    margin: 0 auto;
    width: 5px;
    /* Çubuğun başlangıç genişliği */
    height: 4px;
    background-color: greenyellow;
    /* Başlangıç rengi */
    animation: barAnimation 2s infinite alternate;
    /* Animasyon adı, süre, yineleme ve yönlendirme */
}

/* Animasyonu tanımlayın */
@keyframes barAnimation {
    from {
        width: 50px;
        background-color: green;
    }

    /* Başlangıç durumu */
    to {
        width: 100px;
        background-color: greenyellow;
    }

    /* Bitiş durumu */
}


/* Responsivlik Mobil Telefon üçün */

@media (max-width: 480px) {

    body {
        background-color: #131517;
        height: 100vh;
    }

    ul {
        justify-content: space-evenly;
        width: 60%;
        list-style: none;
        display: flex;
        margin: 7vh auto;
    }
    
    .orta {
        width: 440px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .box1 {
        justify-content: space-evenly;
        display: flex;
        height: 10vh;
        margin-top: 2rem;
        width: 450px;
        margin-left: 0.2rem;
    }
    
    img {
        width: 200px;
        height: 200px;
    }
    
    
    }